<!-- navbar -->
<%- include("../partials/header.ejs"); %>

<h1>Welcome to my Blog Website</h1>
<p><%= mainContent %></p>

<div class="post-grid">
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
  <ul>
    <!-- list of blogs -->
    <% blogs.forEach((post) => { %>
    <li><a href="./pages/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
</div>

<!-- footer -->
<%- include("../partials/footer.ejs"); %>
